@import "colorsAndFonts";

* {
    font-family : Lato, Helvetica, sans-serif;
    
}

body {
    width: 100%;
    margin: 0px;
    color: $grey-3;
    
}

h2 {
    font-size: 1.3em;
    color: $red;
}

h3 {
    margin: 0;
    text-align: center;
}



article {
    padding-top: 5px ;
    background-color: $grey-1;
    display: block;
    position: relative;
    width: 100%; 
    h2 {
        color: $red;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    >div { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
        #skillSet {
            
            display: flex;
            flex-direction: column-reverse;
            justify-content: left;
            position: relative;
            width: 47%;
            
           // margin-right: 10px;
            margin-bottom: 20px;
            @media screen and (max-width: 800px) {
                width: 100%;
                justify-content: left;
            }

        }
        #skillDesc {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 47%;
            text-align: justify;
            font-size: 0.75em;
            line-height: 1.6em;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }
}


.skill_slider {
    cursor: pointer;
    position: relative;
    margin: 5px;
    display: flex;
    border: 1px solid $violet-2;
    border-radius: 40px;
    overflow: hidden;
    >.progressBar {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transform-box: content-box;
      
        background-color: rgb(220, 220, 220);
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(220, 220, 220));
      }
    >.skill {
        display: block;
        
        font-family: 'Space Grotesk', sans-serif;
        font-size: 0.6em;
        background-color: $violet-2;
        background-image: linear-gradient(to bottom right, rgba($grey-1, 0.4), $violet-2 50%);
        color: $grey-1;
        text-align: center;
        width: 120px;
        padding: 5px;
        border-radius: inherit;
        border: 1px solid $grey-3;
        z-index: 1;
        transform-origin: 0 50%;
    }
    &.clicked {
        >.skill {
            background-color: $red;
            background-image: linear-gradient(to bottom right, rgba($grey-1, 0.4), $red 50%) !important;
            color: $grey-1 !important;
        }
        >.progressBar {
            background-color: rgb(220, 220, 220);
            background-image: linear-gradient(to right, rgb(255, 255, 255), $red) !important;
        }
    }
    &:hover {
        >.skill {
            background-color: $grey-1;
            background-image: linear-gradient(to bottom right, rgba($grey-1, 0.4), $grey-1 50%);
            color: $violet-3;
        }
        >.progressBar {
            background-color: rgb(225, 225, 225);
            background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(245, 245, 245));
        }
    }
}



.fake-margin {
    max-width: 800px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    @media screen and (max-width: 400px) {
        padding: 0 15px;
    }
}

