@import "colorsAndFonts";

#footer {
    position: relative;
    display: flex;
    height: 65px;
        width: 100%;
    background-color: $violet-2;
    color: $violet-0;
    >div {
      width: 100%;
    }
}