@import "colorsAndFonts";
//@import "main-banner_graphic.svg";

header {
    width: 100%;
    position: relative;
    #graph {
       
        top: -7px;
        
        left: 0;

        opacity: 1;

        width: 100%;
        height: 105%;
       
        display: block;
        position: absolute;
        background-image:  linear-gradient(355deg, $red, $violet-2 35%);
        
        z-index: 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./img/graphics/main-banner_graphic.svg');
            background-repeat: no-repeat;
            background-size:  cover;
            opacity: .7;
        }
    }
    
    section {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        position: relative;
        background-color: $violet-2;
        border-radius: 0 0 20px 20px;
        color: $grey-1;
        overflow: hidden;
        #nameTitle {
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 400;
            font-size: 1.5em;
            margin: 20px 30px 30px 0;

            #cvTitle {
                font-family: 'Raleway', sans-serif;
            }
            
            #myName {
                
               font-weight: 700;
                line-height: 0.8em;
            }
            #jobTitle {
                
                font-size: 0.7em;
             //   line-height: 0.8em;
            }
        }
        #introduction {
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 300;
            font-size: 0.8em;
            margin-left: 50%;
        
            width: 50%;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            background-color: $red;
            color: $violet-3;
            border: none;
            border-radius: 40px;
            padding: 5px 14px 5px 20px;
           
            >span {
                display: flex;
                text-align: center;
                align-items: center;
                align-content: center;
                font-size: 1.5em;
                line-height: 1em;
                
                padding-left: 6px;
            }
            &:hover {
                background-color: $grey-1;
            }
        }
    }   
}




