@import "colorsAndFonts";

#mainIntroduction {

    background-image: url("./img/graphics/what-drives-me_graphic.svg");
    background-repeat: no-repeat;
    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-align: justify;
        padding-bottom: 27px;
    }
}